/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/ this is where you add fonts

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Begin theme styles

/*base css*/
media queries min to max widths
DOWNLOAD IMAGES IN PROJ DIRECTORY AND MAP TO IT

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:hover, a:focus {
  text-decoration: underline;
}

body{
  font-family: 'Outfit', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
  max-width: 100%;
  min-width: 45ch;
  color: #451400;
  background-color: #451400;
}
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

a:link {
  color: #451400;
}
a:hover {
  color: 	#ac2318;
}

a:visited {
  color: #ac2318;
}

.link-github{
  display: inline-block;
  background-color: #ac2318;
  color: #fff !important;
  padding: 0.4em 1.5em;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}

.page-footer .link-github{
  display: inline-block;
  background-color: #451400;
  color: #fff !important;
  padding: 0.3em 1.5em;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}

,.page-footer .link-github:hover{
  color: #ac2318 !important;
}

header{
  background-color: #ffff;
  color: #451400;
  text-align: center;
}

.skip-link {
  display: flex;
  justify-content: center;
  color: #fff !important;
  padding: 2rem;
  width: 100%;
  text-transform: uppercase;
  z-index: 100;
  border-radius: 0 0 4px 4px;
}

.skip-link:hover{
  color: #ac2318 !important;
}

h1{
  text-transform: uppercase;
  color: #472e15;
  padding: 2rem;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6e/Brown_paper_bag_texture.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 75px;
  min-width: 430px;
}

  @media screen and (min-width: 37rem){
    h1 {
      font-size: 100px;
    }
  }

svg{
  max-width: 7%;
  height: auto;

}

p{
  color: #451400;
}


nav ul {
  display: flex;
  ;
  max-width: 100%;
  justify-content: space-evenly;
  ;
  flex-wrap: wrap;
  margin: 0 auto 1rem auto;
  padding: 2rem;
  background-color: #ac2318;
  color: #ffff;
  list-style: none;
  text-transform: uppercase;
}

nav a {
  text-decoration: none !important;
  color: #fff !important;
  padding-bottom: 3px;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 50%;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav a:hover::after {
  transform: scaleX(1);
}




@media screen and (max-width: 860px) {
  nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.page-footer  {
  background-color: #ac2318;
  padding-top: 1rem;
}

.page-footer .container{
  padding-top: 1rem;
}

h2{
  border-bottom: 2px solid #451400;
}

h1+h2{
  text-transform: uppercase;
  padding-top: 1rem;
}

.page-footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
}

@media screen and (max-width: 760px){
  .page-footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

#styles {
  padding-bottom: 1rem;
}

#about > .container,
#guidelines > .container,
#contribute > .container,
#files > .container,
.profile > .container,
#styles > .container {
  background-color: #fff;
  color: #451400;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#about > .container:hover,
#guidelines > .container:hover,
#contribute > .container:hover,
.profile > .container:hover,
#styles > .container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}


.profile,
#styles {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  box-sizing: border-box;
  margin:0 2%;
}


@media screen and (max-width: 760px) {
  .profile,
  #styles {
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 2% 1rem 2%;
  }
}

.page-footer * {
  color: #fff !important;
}


.page-footer a:hover {
  color: #451400 !important;
}



